/*
** General Styles for HTML tags
*/
html {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

::selection {
  color: $lightColor;
  background-color: $colorMain;
}

::-moz-selection {
  color: $lightColor;
  background-color: $colorMain;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  background-color: $lightColor;
  overflow: visible;
  overflow-x: hidden;
  //for scrollbar always seen
  overflow-y: scroll;
  //for scrollspy
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //text-transform: uppercase;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 0.65em;
  margin-bottom: 0.65em;
  //fix for Raleway numbers
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
}

h4 {
  font-size: 40px;
  font-weight: 600;
}
h5 {
  font-size: 20px;
}

h6 {
  font-size: 17px;
}

@media (max-width: 575px) {
  h1 {
    font-size: 1.8rem
  }
  h2 {
    font-size: 1.6rem
  }
  h3 {
    font-size: 1.4rem
  }
  h4 {
    font-size: 1.3rem
  }
  h5 {
    font-size: 1.2rem
  }
  h6 {
    font-size: 1.1rem
  }
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

p {
  margin-bottom: 1.2em;
}

ul:last-child,
ol:last-child,
p:last-child {
  margin-bottom: 0;
}

p:last-child {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

img, figure {
  max-width: 100%;
  height: auto;
}

figcaption {
  p {
    margin-bottom: 0;
  }
  font-size: 0.95em;
  line-height: 1.4;
  padding: 10px 0 7px;
}

b, strong {
  font-weight: 700;
}

label {
  color: $darkgreyColor;
}

.icon-boxed a {
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
  color: $colorMain;
  &:hover {
    color: $colorMain;
    text-decoration: none;
    transition: all 0.15s linear 0s;
  }
}

blockquote {
  font-style: italic;
  margin: 50px 0;
  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin: 45px 35px 25px;
  }
  .media {
    margin: 15px 0;
    img {
      max-width: 60px;
      border-radius: 50%;
    }
  }
 span {
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: $colorMain; 
    padding-left: 30px;
  }
  strong {
    font-weight: 600;
    font-size: 30px;
     color: $colorMain; 
     padding-left: 30px;
  }
}

input:focus,
button:focus,
select:focus,
textarea:focus,
a:focus {
  outline: medium none;
  text-decoration: none;
}

a > img {
  transition: all 0.15s ease-in-out 0s;
}

a:hover > img {
  opacity: 0.8;
}

a.btn:active,
a.button:active,
button:active,
input[type="submit"]:active {
  position: relative;
  top: 1px !important;
}

hr {
  border-color: $borderColor;
  //for flexbox
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

iframe {
  border: none;
  max-width: 100%;
}

table {
  width: 100%;
  max-width: 100%;
  margin: 10px 0;
  td, th {
    padding: 13px 8px;
    line-height: 1.42857143;
    a {
      color: #808080;
    &:hover {
       color: $colorMain;
       text-decoration: none;
      }
    }
  }
  th {
    color: $darkgreyColor;
    font-weight: normal;
    vertical-align: middle;
  }
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

pre {
  line-height: 1.5;
  background-color: $universalBackgroundColor;
  padding: 0.5em 1em;
}

.big {
  margin: 1.4em 0 1.3em;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  em {
    display: inline-block;
    margin: 1em 0 0.5em;
  }
}

.media {
  h3 {
    text-transform: uppercase;
  }
  .dropcap {
    margin-right: 0;
  }
}

.small-text span {
        width: 100%;
    display: block;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -0.02em;
    margin-bottom: 30px;
    color: #1f232b;
    text-transform: uppercase;
    }
    
.small-text {
  font-style: normal;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    color: $colorMain;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 5px;
    letter-spacing: -0.02em;

   &.extra-letter-spacing {
    @media (min-width: 768px) {
      letter-spacing: 1em;
    }
  }

  &:after {
    content: "“";
    display: block;
    margin: 45px 0 1px 0;
    font-family: "Vidaloka", sans-serif;
    font-style: normal;
    color: $colorMain;
    font-size: 100px;
  }
}

.item-content h5 {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  :hover {
    text-decoration: none;
    color: $colorMain;
  }

}



@media (max-width: 991px) {
  h1, .post.vertical-item .entry-content h1 {
    font-size: 44px;
  }
}
@media (max-width: 479px) {
  h1, .post.vertical-item .entry-content h1 {
    font-size: 34px;
  }
}
h2, .post.vertical-item .entry-content h2 {
  font-size: 44px;
}
@media (max-width: 991px) {
  h2, .post.vertical-item .entry-content h2 {
    font-size: 38px;
  }
}
@media (max-width: 479px) {
  h2, .post.vertical-item .entry-content h2 {
    font-size: 30px;
  }
}
h3, .post.vertical-item .entry-content h3 {
  font-size: 34px;
}
@media (max-width: 991px) {
  h3, .post.vertical-item .entry-content h3 {
    font-size: 30px;
  }
}
@media (max-width: 479px) {
  h3, .post.vertical-item .entry-content h3 {
    font-size: 26px;
  }
}
h4, .special-heading .info-block h4 {
  font-size: 28px;
}
@media (max-width: 479px) {
  h4, .special-heading .info-block h4 {
    font-size: 24px;
  }
}