/* 
** Intro Section Styles
*/

.page_slider {
  position: relative;
  overflow: hidden;
  //fix slider bug on small screens
  clear: both;
  & > img {
    width: 100%;
  }

  h2 {
    font-size: 3em;
    margin: 0;
    line-height: 1;
  }
  h3 {
    font-size: 2em;
    margin: 0;
    line-height: 1;
  }
  h4 {
    font-size: 1.5em;
    margin: 0;
  }
  p {
    font-size: 1.2em;
    margin: 0;
  }

  @media(min-width: 992px) {
    h2 {
      font-size: 80px;
      font-weight: 600;
    }
    h3 {
      font-size: 3em;
    }
    h4 {
      font-size: 40px;
      font-weight: 200;
    }
    p {
      font-size: 1.7em;
    }
  }

  .flex-direction-nav .flex-prev {
    left: 2%;
    opacity: 1;
  }
  .flex-direction-nav .flex-next {
    right: 2%;
    opacity: 1;
  }

  .flexslider {
    //making every slide same height (stretch) for nice background on every slide
    .slides {
      display: flex;
    }

    //ie bugfix with page_slider overlap
    &:before,
    &:after {
      content: '';
      display: block;
      clear: both;
    }

    .intro_layer img {
      width: auto;
      display: inline-block;
    }

    //uncomment if you need a shadow on your slider
    &.slider-shadow {
      padding-bottom: 50px;
      &:before,
      &:after {
        content: "";
        position: absolute;
        background: transparent;
        z-index: 1;
        bottom: 65px;
        left: 10px;
        width: 50%;
        height: 20%;
        max-width: 400px;
        box-shadow: 0 25px 20px rgba(0, 0, 0, 0.3);
        transform: rotate(-3deg);
      }
      &:after {
        right: 10px;
        left: auto;
        transform: rotate(3deg);
      }
    }
  }

  .intro_layers_wrapper {
    display: block;
  }

  .intro_after_featured_word {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    @media(max-width: 400px) {
      display: none;
    }
  }

  .intro_layers {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 120px 0;
  }


  //dots - horizontal
  .flex-control-nav {
    position: absolute;
    width: 100%;
    bottom: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media (max-width: 991px) {
      display: none;
    }

    li {
      display: block;
      padding-top: 6px;
      padding-bottom: 6px;
      a {
        border-color: $colorMain2;
        background:   $colorMain2;
        opacity: 1;
        &.flex-active {
          opacity: 1;
          background-color: $colorMain;
          border-color: $colorMain;
        }
      }
    }
  }

  //lg and bigger layout
  @media(min-width: 300px) {

    .cs,
    .ds {
      background-color: transparent;
    }

    button { 
      padding: 13px 18px;
      min-width: 130px;
      font-size: 9px;
    }
    //description alignment
    //for intro with testimonials,
    //for static intro
    //.flexslider prefix removed
    .container-fluid,
    .container,
    img + .container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

    }

    [class*="col-"] {
      position: static;
      min-height: 0;
      margin-top: 0;
      margin-bottom: 0;

    }

    // center alignment for slide description
    .intro_layers_wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 15px;
      left: 15px;
      height: 100%;
      z-index: 5;

      @media (min-width: 600px) {
        .boxed & {
          padding-left: 60px;
          padding-right: 60px;
        }
      }
    }

    .intro_text_top .intro_layers {
      justify-content: flex-start;
    }
    .intro_text_bottom .intro_layers {
      justify-content: flex-end;
    }

    .intro_before_featured_word {
      line-height: 0.8;
      font-size: 17px;
      margin: 0;
      padding: 0 0.2em;

      text-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    }
    .intro_featured_word {
      line-height: 0.9;
      white-space: nowrap;
      font-size: 30px;
      margin: 0;
      text-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
    }

    .intro_after_featured_word {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1em;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    }

  }
    @media (max-width: 1999px) and (min-width:1600px) {
      .container-fluid,
       .container,
         img + .container {
            top: -110px;
          }
    }
  @media (max-width: 449px) {
    .intro_featured_word {
      font-size: 27px;
      font-weight: 600;
      padding: 10px 0;
    }
  }
  @media (min-width: 992px) {

    .flex-direction-nav {
  
    }

    .intro_layers_wrapper {
      padding: 100px 0;
    }

    .intro_before_featured_word {
      font-size: 42px;
    }
    .intro_featured_word {
      font-size: 138px;
    }

    .intro_after_featured_word {
      font-size: 12px;
      letter-spacing: 2em;
    }
  }

 

  //md and smaller - static container on small device
  @media (max-width: 991px) {
    & {
      text-align: center;
    }
  }
}

@media (min-width: 320px) {
.page_slider .intro_layers_wrapper {
    position: absolute;
    top: 30px;
    padding: 0;
    .intro_layers {
      padding: 0;
    }
  }
}

@media (min-width: 450px) {
  .page_slider .intro_layers_wrapper {
    position: absolute;
    top: 30px;
  .intro_featured_word {
    font-size: 40px;
    font-weight: 600;
    padding: 10px 0 20px;
  }
  .page_slider .intro_before_featured_word {
    line-height: 0.8;
    font-size: 31px;
    }  
  }
}

@media (min-width: 768px) {
  .page_slider .intro_layers_wrapper {
    position: absolute;
    top: 100px;
  .intro_featured_word {
    font-size: 60px;
    font-weight: 600;
    padding: 20px 0 30px;
    }
  .intro_before_featured_word {
    line-height: 1;
    font-size: 40px;
    }  
  }
}

@media (min-width: 1199px) {
  .page_slider .intro_layers_wrapper {
    position: absolute;
    top: 180px;
  .intro_featured_word {
    font-size: 60px;
    font-weight: 600;
    padding: 20px 0 30px;
    }
  .intro_before_featured_word {
    line-height: 1;
    font-size: 40px;
    }  
  }
}

@media (min-width: 1600px) {
  .page_slider .intro_layers_wrapper {
    position: absolute;
    top: 330px;
  .intro_featured_word {
    font-size: 80px;
    font-weight: 600;
    padding: 10px 0 65px 20px;
    line-height: 65px;
    }
  .intro_before_featured_word {
    line-height: 1;
    font-size: 40px;
    }  
  }
  .page_slider button {
    padding: 14px 30px;
    min-width: 230px;
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .page_slider .blog.intro_layers_wrapper {
    position: absolute;
    top: 250px;
    h4 {
      font-size: 30px;
      font-weight: 200;
    }
    h2 {
      font-size: 50px;
      font-weight: 600;
    }
  }
}

@media (min-width: 1200px) {
  .page_slider .blog.intro_layers_wrapper {
    position: absolute;
    top: 250px;
    h4 {
      font-size: 40px;
      font-weight: 200;
      line-height: 0.7;
    }
    h2 {
      font-size: 80px;
      font-weight: 600;
    }
  }
}