//color schemes
//1
$styleNumber: '';

$colorMain: #55bce7;
$colorMain2: #736fb3;
$colorMain3: #CF423C;
$colorMain4: #650B1B;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;



