//color schemes
//3
$styleNumber: '3';
$colorMain: #fcbe11;
$colorMain2: #82b440;
$colorMain3: #56d7fe;
$colorMain4: #736fb3;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;